<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>首页</title>
        <link rel="stylesheet" href="/C:/Users/李滨泓/Desktop/项目/pineapple/public/static/css/common.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div class="container">
            <div class="mask">

            </div>
            <div class="navbar">

                <div class="nav">
                    <ul>
                        <li>
                            首页
                            <span class="cursor"></span>
                        </li>
                        <li>
                            主题
                            <span class="cursor"></span>
                        </li>
                        <li>
                            发现
                            <span class="cursor"></span>
                        </li>
                        <li>
                            吃
                            <span class="cursor"></span>
                        </li>
                        <li>
                            旅
                            <span class="cursor"></span>
                        </li>
                    </ul>
                    <button type="button" name="login" id="login-btn">登录</button>
                    <button type="button" name="register" id="register-btn">注册</button>
                    <input type="text" name="search" value="寻找好物……" id="search">
                </div>
            </div>
            <div class="container-top">
                <div class="desc">
                    <div class="desc-main">
                        <div class="desc-main-title">
                            Pineapple
                        </div>
                        发现好吃的，好玩的
                    </div>
                </div>
                <div class="pineapple-logo">
                    Pineapple
                </div>
            </div>
        </div>
    </body>
</html>
