
@baseColor: rgb(64,163,194);
// @imagesDir: "/C:/Users/李滨泓/Desktop/项目/pineapple/public/static/images";
@imagesDir: "/public/static/images";

@baseFontFamily: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;

body {
    background-color: rgb(246, 246, 246);
}

.navbar {
    background-image: url("@{imagesDir}/home-header-bg-563ac1688e.png");
    background-color: transparent;
    transition: background-color ease-in-out 0.2s;
    -o-transition: background-color ease-in-out 0.2s;
    -ms-transition: background-color ease-in-out 0.2s;
    -moz-transition: background-color ease-in-out 0.2s;
    -webkit-transition: background-color ease-in-out 0.2s;
    box-shadow: 0 0 4px rgba(0,0,0,0);
}

body .over-navbar {
    background-image: none;
    background-color: @baseColor;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
}


.container {
    .container-top {
        height: 100%;
        position: relative;
        padding-top: 100px;
        padding-bottom: 10px;
        background: url("@{imagesDir}/back3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .pineapple-logo {
            width: 100%;
            font-size: 10rem;
            color: white;
            text-align: center;
        }

        .container-top-back {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;

            img {
                vertical-align: bottom;
            }
        }
    }
}

.desc {
    .desc-main {
        position: relative;
        width: 350px;
        height: 170px;
        color: white;
        font-size: 3rem;
        line-height: 154px;
        text-align: center;
        border: 8px solid white;
        margin: 0 auto;

        .desc-main-title {
            position: absolute;
            width: 100px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: white;
            font-size: 1.7rem;
            // background-color: #eee966;
            top: 0;
            left: 50%;
            margin-top: -33px;
            margin-left: -50px;
            z-index: 999;
        }
    }
}

// 精选专题样式
@media screen and (min-width: 1366px) {
    body .topic-container {
        max-width: 1349px;
    }
}
.topic-container  {
    margin: 0 auto;
    max-width: 897px;

    .topic-container-title {
        width: 100%;
        margin: 35px auto;
        text-align: center;

        @topicTitleColor: #5d5d5d;
        h1 {
            font-size: 3.5rem;
            color: @topicTitleColor;
            margin: 0;

            .title-hr {
                display: inline-block;;
                width: 70px;
                height: 3px;
                margin: auto 20px;
                background-color: @topicTitleColor;
            }
        }
    }

    .topic-container-main {

        // 专题项目字体颜色
        @topicItemColor: rgb(130, 140, 170);
        // 专题整体背景颜色
        @topicItemBackColor: white;

        .topic-item {
            display: inline-block;
            width: 393px;
            margin: 0 26.5px 40px;
            border-radius: 0 0 5px 5px;
            color: @topicItemColor;
            background-color: @topicItemBackColor;
            transition: box-shadow .3s ease;
            -o-transition: box-shadow .3s ease;
            -ms-transition: box-shadow .3s ease;
            -moz-transition: box-shadow .3s ease;
            -webkit-transition: box-shadow .3s ease;

            &:hover {
                box-shadow: 0px 3px 7px rgba(42,42,42,0.5);
            }

            .topic-item-title {
                font-weight: 500;
                text-align: center;
            }

            // 专题项目图片
            .topic-item-img {
                // background-image: url("@{imagesDir}/back.png");
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 188px;
            }

            // 专题项目简介
            .topic-item-desc {
                padding: 0 15px;

                // 简介 title
                .desc-title {
                    font-weight: 500;
                }

                // 简介内容
                a {
                    color: inherit;
                    text-decoration: none;
                    .desc-content {
                        margin: 0;
                        font-weight: 400;
                        min-height: 38px;
                        max-height: 38px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

            }

            // 专题点赞、评论、分享等信息
            .topic-item-info {
                padding: 15px 17px 20px;

                .fa {
                    color: rgb(64,163,194);
                    font-size: 1.7rem;
                    margin-right: 10px;
                    vertical-align: middle;

                    .num {
                        font-family: @baseFontFamily;
                        font-size: 1.4rem;
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}
