* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 1.4rem;
    min-width: 1360px;
    margin: 0;
    background-color: rgb(238, 245, 255);
}

ul {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    position: relative;
}

.container .navbar {
    position: absolute;;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 999;
}
.navbar .nav {
    height: 100%;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 78px;
    opacity: 0.8;
    background: url("../images/home-header-bg-563ac1688e.png") repeat-x;
    z-index: 998;
}

.navbar .nav ul {
    display: inline-block;
    list-style-type: none;
    height: 100%;
}

.navbar .nav #search {
    float: right;
    width: 300px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid white;
    font-family: inherit;
    outline: none;
    color: white;
    background-color: rgba(0,0,0,0);
    margin: 17px 15px 0px 15px;
}

.navbar .nav button {
    float: right;
    font-size: 1.5rem;
    font-family: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    width: 60px;
    height: 30px;
    margin: 15px 15px 0px 10px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0);

}

.navbar .nav #login-btn {
    background-color: #eee966;
}

.navbar .nav #login-btn:hover {
    background-color: #f7f15a;
}

.navbar .nav #login-btn:active {
    background-color: #ede855;
}

.navbar .nav #register-btn {
    border: 1px solid white;
}

.navbar .nav #register-btn:hover {
    color: rgb(42, 42, 42);
    background-color: white;
}

.navbar .nav ul li {
    position: relative;
    float: left;
    width: 90px;
    height: 100%;
    line-height: 60px;
    font-size: 1.6rem;
    color: white;
    text-align: center;
}

.navbar .nav ul li .cursor {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(145, 154, 69);
    transition: width ease 0.3s;
    -o-transition: width ease 0.3s;
    -ms-transition: width ease 0.3s;
    -moz-transition: width ease 0.3s;
    -webkit-transition: width ease 0.3s;
}

.navbar .nav ul li:hover .cursor {
    width: 100%;
}
