body {
  margin-top: 80px;
  min-width: 1100px;
  background-color: #f1f1f1;
}
.navbar {
  background-image: url("/public/static/images/home-header-bg-563ac1688e.png");
  transition: background-color ease-in-out 0.2s;
  -o-transition: background-color ease-in-out 0.2s;
  -ms-transition: background-color ease-in-out 0.2s;
  -moz-transition: background-color ease-in-out 0.2s;
  -webkit-transition: background-color ease-in-out 0.2s;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0);
}
.list-container {
  width: 1020px;
  margin: 0 auto;
}
.list-container .list-tab-container {
  width: 100%;
  padding: 0 15px;
  padding-bottom: 35px;
}
.list-container .list-tab-container .tab-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-container .list-tab-container .tab-ul .tab-ul-item {
  float: left;
  display: block;
  width: 90px;
  height: 70px;
  line-height: 70px;
  font-size: 1.6rem;
  text-align: center;
  color: #909090;
}
.list-container .list-tab-container .tab-ul .current-item {
  color: #5d5d5d;
  border-bottom: 2px solid #40a3c2;
}
.list-container .list-main-container .item {
  float: left;
  width: 300px;
  margin: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  transition: box-shadow ease 0.3s;
  -o-transition: box-shadow ease 0.3s;
  -ms-transition: box-shadow ease 0.3s;
  -moz-transition: box-shadow ease 0.3s;
  -webkit-transition: box-shadow ease 0.3s;
  overflow: hidden;
}
.list-container .list-main-container .item:hover {
  box-shadow: 0 0 8px #939393;
}
.list-container .list-main-container .item a {
  text-decoration: none;
  color: inherit;
}
.list-container .list-main-container .item .item-img {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.list-container .list-main-container .item .item-main {
  padding-bottom: 20px;
}
.list-container .list-main-container .item .item-main .item-title {
  margin: 0;
  padding: 12px 0;
  text-align: center;
  font-weight: normal;
  color: #40a3c2;
}
.list-container .list-main-container .item .item-tags {
  height: 22px;
  overflow: hidden;
  padding: 0px 15px;
  color: #40a3c2;
  font-size: 1.6rem;
}
.list-container .list-main-container .item .item-tags .tag {
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 8px 5px 8px;
}
