body {
  margin-top: 80px;
  min-width: 1100px;
  background-color: #f1f1f1;
}
.navbar {
  background-image: url("/public/static/images/home-header-bg-563ac1688e.png");
  transition: background-color ease-in-out 0.2s;
  -o-transition: background-color ease-in-out 0.2s;
  -ms-transition: background-color ease-in-out 0.2s;
  -moz-transition: background-color ease-in-out 0.2s;
  -webkit-transition: background-color ease-in-out 0.2s;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0);
}
.list-container {
  width: 1020px;
  margin: 0 auto;
}
