body {
  margin-top: 80px;
  min-width: 1100px;
  background-color: #f1f1f1;
}
.navbar {
  background-image: url("/public/static/images/home-header-bg-563ac1688e.png");
  transition: background-color ease-in-out 0.2s;
  -o-transition: background-color ease-in-out 0.2s;
  -ms-transition: background-color ease-in-out 0.2s;
  -moz-transition: background-color ease-in-out 0.2s;
  -webkit-transition: background-color ease-in-out 0.2s;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0);
}
.list-container {
  width: 1020px;
  margin: 0 auto;
}
.post-bar {
  background-color: #fff;
  min-height: 300px;
  max-height: 1000px;
  margin-bottom: 20px;
}
.post-title {
  outline: none;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.post-content {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.post-submit {
  margin: 10px;
  float: right;
  width: 100px;
  height: 30px;
  background-color: #40a3c2;
  color: #fff;
  border: none;
  font-size: 16px;
}
table {
  width: 100%;
}
.post-board {
  margin-left: 30px;
  height: 50px;
  width: 100%;
  line-height: 50px;
  font-size: 20px;
  color: #778087;
}
.post-search {
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  height: 30px;
  margin-left: 20px;
}
.post-search-btn {
  height: 30px;
  width: 50px;
  background-color: #40a3c2;
  color: #fff;
  border: none;
  margin: auto 10px;
}
.post-order {
  text-align: right;
  padding: 0 10px 0px;
}
.post-order a {
  text-decoration: none;
  color: #40a3c2;
}
.post-order .active {
  color: #000;
  cursor: default;
}
.post {
  padding: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.post a {
  color: #778087;
  text-decoration: none;
  cursor: pointer;
}
.rating {
  width: 5%;
}
.board {
  width: 10%;
}
.title {
  font-size: 16px;
  width: 75%;
  text-overflow : ellipsis; 
  white-space : nowrap; 
  overflow : hidden; 
}
.creator {
  width: 10%;
}
.switch-page {
  padding: 5px 5px;
  float: right;
  text-decoration: none;
  color: #40a3c2;
}