body {
  background-color: #f6f6f6;
}
.navbar {
  background-image: url("/public/static/images/home-header-bg-563ac1688e.png");
  background-color: transparent;
  transition: background-color ease-in-out 0.2s;
  -o-transition: background-color ease-in-out 0.2s;
  -ms-transition: background-color ease-in-out 0.2s;
  -moz-transition: background-color ease-in-out 0.2s;
  -webkit-transition: background-color ease-in-out 0.2s;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0);
}
.navbar .nav .user-name-btn {
  width: 90px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
.navbar .user-name {
  position: relative;
  display: inline-block;
  float: right;
}
.navbar .user-name:hover {
  border-radius: 0;
  background-color: rgba(158, 158, 158, 0.3);
}
.navbar .user-name:hover .user-dropdown {
  display: block;
}
.navbar .user-name .user-dropdown {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
}
.navbar .user-name .user-dropdown a {
  display: inline-block;
}
.navbar .user-name .user-dropdown li {
  line-height: 45px;
}
.navbar .user-name .user-dropdown li:hover {
  background-color: rgba(158, 158, 158, 0.3);
}
body .over-navbar {
  background-image: none;
  background-color: #40a3c2;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.container .container-top {
  height: 100%;
  position: relative;
  padding-top: 100px;
  padding-bottom: 10px;
  background: url("/public/static/images/back3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container .container-top .pineapple-logo {
  width: 100%;
  font-size: 10rem;
  color: white;
  text-align: center;
}
.container .container-top .container-top-back {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.container .container-top .container-top-back img {
  vertical-align: bottom;
}
.desc .desc-main {
  position: relative;
  width: 350px;
  height: 170px;
  color: white;
  font-size: 3rem;
  line-height: 154px;
  text-align: center;
  border: 8px solid white;
  margin: 0 auto;
}
.desc .desc-main .desc-main-title {
  position: absolute;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 1.7rem;
  top: 0;
  left: 50%;
  margin-top: -33px;
  margin-left: -50px;
  z-index: 999;
}
@media screen and (min-width: 1366px) {
  body .topic-container {
    max-width: 1349px;
  }
}
.topic-container {
  margin: 0 auto;
  max-width: 897px;
}
.topic-container .topic-container-title {
  width: 100%;
  margin: 35px auto;
  text-align: center;
}
.topic-container .topic-container-title h1 {
  font-size: 3.5rem;
  color: #5d5d5d;
  margin: 0;
}
.topic-container .topic-container-title h1 .title-hr {
  display: inline-block;
  width: 70px;
  height: 3px;
  margin: auto 20px;
  background-color: #5d5d5d;
}
.topic-container .topic-container-main .topic-item {
  display: inline-block;
  width: 393px;
  margin: 0 26.5px 40px;
  border-radius: 0 0 5px 5px;
  color: #828caa;
  background-color: white;
  transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  -ms-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -webkit-transition: box-shadow 0.3s ease;
}
.topic-container .topic-container-main .topic-item:hover {
  box-shadow: 0px 3px 7px rgba(42, 42, 42, 0.5);
}
.topic-container .topic-container-main .topic-item .topic-item-title {
  font-weight: 500;
  text-align: center;
}
.topic-container .topic-container-main .topic-item .topic-item-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 188px;
}
.topic-container .topic-container-main .topic-item .topic-item-desc {
  padding: 0 15px;
}
.topic-container .topic-container-main .topic-item .topic-item-desc .desc-title {
  font-weight: 500;
}
.topic-container .topic-container-main .topic-item .topic-item-desc a {
  color: inherit;
  text-decoration: none;
}
.topic-container .topic-container-main .topic-item .topic-item-desc a .desc-content {
  margin: 0;
  font-weight: 400;
  min-height: 38px;
  max-height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.topic-container .topic-container-main .topic-item .topic-item-info {
  padding: 15px 17px 20px;
}
.topic-container .topic-container-main .topic-item .topic-item-info .fa {
  color: #40a3c2;
  font-size: 1.7rem;
  margin-right: 10px;
  vertical-align: middle;
}
.topic-container .topic-container-main .topic-item .topic-item-info .fa .num {
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 1.4rem;
  margin-left: 3px;
}
