<<<<<<< HEAD
body {
  background-color: #eef5ff;
}
=======
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 1.4rem;
  min-width: 1060px;
  margin: 0;
  background-color: #eef5ff;
}
ul {
  padding: 0;
  margin: 0;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 78px;
  opacity: 0.8;
  background: url("/public/static/images/home-header-bg-563ac1688e.png") repeat-x;
  z-index: 998;
}
.container {
  width: 100%;
  position: relative;
}
.container .navbar {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 999;
}
.container .navbar .nav {
  height: 100%;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}
.container .navbar .nav ul {
  display: inline-block;
  list-style-type: none;
  height: 100%;
}
.container .navbar .nav ul a {
  color: inherit;
  text-decoration: none;
}
.container .navbar .nav ul li {
  position: relative;
  float: left;
  width: 90px;
  height: 100%;
  line-height: 60px;
  font-size: 1.6rem;
  color: white;
  text-align: center;
}
.container .navbar .nav ul li:hover .cursor {
  width: 100%;
}
.container .navbar .nav ul li .cursor {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #919a45;
  transition: width ease 0.3s;
  -o-transition: width ease 0.3s;
  -ms-transition: width ease 0.3s;
  -moz-transition: width ease 0.3s;
  -webkit-transition: width ease 0.3s;
}
.container .navbar .nav #search {
  float: right;
  width: 300px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid white;
  font-family: inherit;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  margin: 17px 15px 0px 15px;
}
.container .navbar .nav button {
  float: right;
  font-size: 1.5rem;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  width: 60px;
  height: 30px;
  margin: 15px 15px 0px 10px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
}
.container .navbar .nav #login-btn {
  background-color: #eee966;
}
.container .navbar .nav #login-btn:hover {
  background-color: #f7f15a;
}
.container .navbar .nav #login-btn:active {
  background-color: #ede855;
}
.container .navbar .nav #register-btn {
  border: 1px solid white;
}
.container .navbar .nav #register-btn:hover {
  color: #2a2a2a;
  background-color: white;
}
>>>>>>> alpha
.container .container-top {
  position: relative;
  padding-top: 100px;
  padding-bottom: 10px;
  background: url("/public/static/images/back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container .container-top .pineapple-logo {
  width: 100%;
  font-size: 10rem;
  color: white;
  text-align: center;
}
.container .container-top .container-top-back {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.container .container-top .container-top-back img {
  vertical-align: bottom;
}
.desc .desc-main {
  position: relative;
  width: 350px;
  height: 170px;
  color: white;
  font-size: 3rem;
  line-height: 154px;
  text-align: center;
  border: 8px solid white;
  margin: 0 auto;
}
.desc .desc-main .desc-main-title {
  position: absolute;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 1.7rem;
  background-color: #eee966;
  top: 0;
  left: 50%;
  margin-top: -33px;
  margin-left: -50px;
}
@media screen and (min-width: 1366px) {
  body .topic-container {
    margin: 0 auto;
    max-width: 1349px;
  }
}
.topic-container {
  margin: 0 auto;
  max-width: 897px;
}
.topic-container .topic-container-title {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
.topic-container .topic-container-title h1 {
  font-size: 3.5rem;
  color: #5d5d5d;
  margin: 0;
}
.topic-container .topic-container-title h1 .title-hr {
  display: inline-block;
  width: 70px;
  height: 3px;
  margin: auto 20px;
  background-color: #5d5d5d;
}
.topic-container .topic-container-main .topic-item {
  display: inline-block;
  width: 393px;
  margin: 0 26.5px 40px;
  border-radius: 0 0 5px 5px;
  color: #828caa;
  background-color: white;
  transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  -ms-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -webkit-transition: box-shadow 0.3s ease;
}
.topic-container .topic-container-main .topic-item:hover {
  box-shadow: 0px 3px 7px rgba(42, 42, 42, 0.5);
}
.topic-container .topic-container-main .topic-item .topic-item-title {
  font-weight: 500;
  text-align: center;
}
.topic-container .topic-container-main .topic-item .topic-item-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 188px;
}
.topic-container .topic-container-main .topic-item .topic-item-desc {
  padding: 0 15px;
}
.topic-container .topic-container-main .topic-item .topic-item-desc .desc-title {
  font-weight: 500;
}
.topic-container .topic-container-main .topic-item .topic-item-desc a {
  color: inherit;
  text-decoration: none;
}
.topic-container .topic-container-main .topic-item .topic-item-desc a .desc-content {
  margin: 0;
  font-weight: 400;
  min-height: 38px;
  max-height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.topic-container .topic-container-main .topic-item .topic-item-info {
  padding: 15px 17px 20px;
}
.topic-container .topic-container-main .topic-item .topic-item-info .fa {
  color: #7aa7f2;
  font-size: 1.7rem;
  margin-right: 10px;
  vertical-align: middle;
}
.topic-container .topic-container-main .topic-item .topic-item-info .fa .num {
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 1.4rem;
  margin-left: 3px;
}
