* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 1.4rem;
  min-width: 1060px;
  margin: 0;
  background-color: #eef5ff;
}
ul {
  padding: 0;
  margin: 0;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 78px;
  opacity: 0.8;
  background: url("/public/static/images/home-header-bg-563ac1688e.png") repeat-x;
  z-index: 998;
}
.container {
  width: 100%;
  position: relative;
}
.container .navbar {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 999;
}
.container .navbar .nav {
  height: 100%;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}
.container .navbar .nav ul {
  display: inline-block;
  list-style-type: none;
  height: 100%;
}
.container .navbar .nav ul a {
  color: inherit;
  text-decoration: none;
}
.container .navbar .nav ul li {
  position: relative;
  float: left;
  width: 90px;
  height: 100%;
  line-height: 60px;
  font-size: 1.6rem;
  color: white;
  text-align: center;
}
.container .navbar .nav ul li:hover .cursor {
  width: 100%;
}
.container .navbar .nav ul li .cursor {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #919a45;
  transition: width ease 0.3s;
  -o-transition: width ease 0.3s;
  -ms-transition: width ease 0.3s;
  -moz-transition: width ease 0.3s;
  -webkit-transition: width ease 0.3s;
}
.container .navbar .nav #search {
  float: right;
  width: 300px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid white;
  font-family: inherit;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  margin: 17px 15px 0px 15px;
}
.container .navbar .nav button {
  float: right;
  font-size: 1.5rem;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  width: 60px;
  height: 30px;
  margin: 15px 15px 0px 10px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
}
.container .navbar .nav #login-btn {
  background-color: #eee966;
}
.container .navbar .nav #login-btn:hover {
  background-color: #f7f15a;
}
.container .navbar .nav #login-btn:active {
  background-color: #ede855;
}
.container .navbar .nav #register-btn {
  border: 1px solid white;
}
.container .navbar .nav #register-btn:hover {
  color: #2a2a2a;
  background-color: white;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: white;
  position: relative;
}
.user-container {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -200px;
}
.user-container .user-container-title {
  text-align: center;
  padding-top: 20px;
}
.user-container .user-container-title h2 {
  font-weight: normal;
  margin-top: 0;
  color: #373737;
}
.user-container .user-container-title h3 {
  font-weight: normal;
  color: #8a8a8a;
}
.user-container .form-container {
  width: 350px;
  margin: 0 auto;
}
.user-container .form-container .form-item {
  position: relative;
  margin-top: 30px;
}
.user-container .form-container .form-item label {
  position: absolute;
  bottom: 6px;
  left: 10px;
  font-size: 1.5rem;
  color: #2d2d2d;
  transition: all .3s ease;
}
.user-container .form-container .form-item .focus-label {
  bottom: 30px;
  color: #7aa7f2;
}
.user-container .form-container .form-item .complete-input {
  border-bottom-color: #7aa7f2;
}
.user-container .form-container .form-item input {
  width: 350px;
  height: 40px;
  padding: 10px 10px 0 10px;
  border: none;
  border-bottom: 2px solid #a2a2a2;
  color: #464646;
  outline: none;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 1.4rem;
}
.user-container .form-container .form-item input:focus {
  border-bottom-color: #7aa7f2;
}
.user-container .form-container .form-item #login-btn,
.user-container .form-container .form-item #register-btn {
  border-bottom: none;
  padding: 0;
  margin-top: 35px;
  color: white;
  background-color: #7aa7f2;
}
.user-container .form-container .form-item #login-btn:focus,
.user-container .form-container .form-item #register-btn:focus {
  border-bottom-color: none;
}
.user-container .form-container .register-tab,
.user-container .form-container .login-tab {
  margin-top: 20px;
  font-size: 1.4rem;
  text-align: center;
}
.user-container .form-container .register-tab a,
.user-container .form-container .login-tab a {
  color: #7aa7f2;
  text-decoration: none;
}
.user-container .form-container .register-tab a:hover,
.user-container .form-container .login-tab a:hover {
  color: #7aa7f2;
  text-decoration: underline;
}
