html {
  height: 100%;
}
body {
  height: 100%;
  background-color: white;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.user-container {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -200px;
}
.user-container .user-container-title {
  text-align: center;
  padding-top: 20px;
}
.user-container .user-container-title h2 {
  font-weight: normal;
  margin-top: 0;
  color: #373737;
}
.user-container .user-container-title h3 {
  font-weight: normal;
  color: #8a8a8a;
}
.user-container .form-container {
  width: 350px;
  margin: 0 auto;
}
.user-container .form-container .form-item {
  position: relative;
  margin-top: 30px;
}
.user-container .form-container .form-item label {
  position: absolute;
  bottom: 6px;
  left: 10px;
  font-size: 1.5rem;
  color: #2d2d2d;
  transition: all .3s ease;
}
.user-container .form-container .form-item .focus-label {
  bottom: 30px;
  color: #40a3c2;
}
.user-container .form-container .form-item .complete-input {
  border-bottom-color: #40a3c2;
}
.user-container .form-container .form-item input {
  width: 350px;
  height: 40px;
  padding: 10px 10px 0 10px;
  border: none;
  border-bottom: 2px solid #a2a2a2;
  color: #464646;
  outline: none;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 1.4rem;
  background-color: transparent;
}
.user-container .form-container .form-item input:focus {
  border-bottom-color: #40a3c2;
}
.user-container .form-container .form-item #login-btn,
.user-container .form-container .form-item #register-btn {
  border-bottom: none;
  padding: 0;
  margin-top: 35px;
  color: white;
  background-color: #40a3c2;
  cursor: pointer;
}
.user-container .form-container .form-item #login-btn:hover,
.user-container .form-container .form-item #register-btn:hover {
  background-color: #3894b0;
}
.user-container .form-container .form-item #login-btn:active,
.user-container .form-container .form-item #register-btn:active {
  background-color: #32839d;
}
.user-container .form-container .form-item #login-btn:focus,
.user-container .form-container .form-item #register-btn:focus {
  border-bottom-color: none;
}
.user-container .form-container .register-tab,
.user-container .form-container .login-tab {
  margin-top: 20px;
  font-size: 1.4rem;
  text-align: center;
}
.user-container .form-container .register-tab a,
.user-container .form-container .login-tab a {
  color: #40a3c2;
  text-decoration: none;
}
.user-container .form-container .register-tab a:hover,
.user-container .form-container .login-tab a:hover {
  color: #40a3c2;
  text-decoration: underline;
}
