.user-container {
  padding: 80px 100px;
  padding-bottom: 0;
  background-color: white;
  box-shadow: 0 0 5px #aaaaaa;
  min-height: 700px;
}
.user-container a:hover {
  color: #40a3c2;
}
.user-container .user-portrait {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  top: 15px;
  border-radius: 50%;
  background-image: url("/public/static/images/anonymous.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.user-container .user-portrait .follow-btn {
  position: absolute;
  width: 70px;
  height: 22px;
  bottom: -32px;
  left: 15px;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
}
.user-container .user-portrait .unfollow {
  background-color: #40a3c2;
}
.user-container .user-portrait .following {
  background-color: #40a3c2;
}
.user-container .user-info {
  float: left;
  margin-left: 30px;
}
.user-container .user-info .user-name {
  color: #5d5d5d;
}
.user-container .user-info .user-name .fa {
  margin-right: 10px;
  font-weight: bold;
}
.user-container .user-info .user-name .fa-mars {
  color: #40a3c2;
}
.user-container .user-info .user-name .fa-venus {
  color: #f266ed;
}
.user-container .user-info .user-name .sex-icon {
  margin-right: 5px;
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}
.user-container .user-info .user-area,
.user-container .user-info .user-desc {
  color: #828caa;
  font-weight: normal;
}
.user-container .user-follower,
.user-container .user-following {
  float: right;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  color: #828caa;
  background-color: #f5f8f9;
  font-size: 2rem;
}
.user-container .user-follower .follow-num,
.user-container .user-following .follow-num {
  font-size: 2.5rem;
  color: #5d5d5d;
  margin-bottom: 15px;
}
.user-container .user-following {
  margin-right: 50px;
}
.user-container .user-tabs {
  width: 100%;
  margin-top: 30px;
  border-bottom: 1px solid #e7e7e7;
}
.user-container .user-tabs .tab-item {
  float: left;
  height: 50px;
  line-height: 50px;
  padding: 0 35px;
  text-align: center;
  color: #828caa;
  border-top: 2px solid white;
}
.user-container .user-tabs .tab-item:hover {
  background-color: #f5f8f9;
  border-top: 2px solid #40a3c2;
  color: #40a3c2;
}
.user-container .user-tabs .current-tab {
  background-color: #f5f8f9;
  border-top: 2px solid #40a3c2;
  color: #40a3c2;
}
.tab-container .form-container {
  padding: 50px 25px 80px 25px;
  width: 1000px;
  margin: 0 auto;
}
.tab-container .form-container .form .form-item {
  margin-bottom: 25px;
}
.tab-container .form-container .form .form-item input,
.tab-container .form-container .form .form-item textarea {
  vertical-align: middle;
  outline: none;
}
.tab-container .form-container .form .form-item .form-item-label {
  display: inline-block;
  font-size: 1.5rem;
  color: #333333;
  vertical-align: middle;
  width: 60px;
  margin-right: 25px;
  text-align: right;
}
.tab-container .form-container .form .form-item .form-radio-label {
  font-size: 1.5rem;
  color: #333333;
  vertical-align: middle;
}
.tab-container .form-container .form .form-item .selections,
.tab-container .form-container .form .form-item text-input {
  width: 100px;
  height: 28px;
  border: 1px solid #7aa7f2;
  border-radius: 3px;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
}
.tab-container .form-container .form .form-item .form-textarea {
  border: 1px solid #7aa7f2;
  border-radius: 3px;
  padding: 10px;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  resize: none;
}
.tab-container .form-container .form .form-item .radio {
  margin: 0;
}
.tab-container .form-container .form .form-item .form-span {
  font-size: 1.5rem;
  color: #333333;
  margin: 0 3px;
}
.tab-container .form-container .form .form-item .form-item-btn {
  text-align: center;
  margin-top: 35px;
}
.tab-container .form-container .form .form-item .form-item-btn input,
.tab-container .form-container .form .form-item .form-item-btn button {
  border: none;
  width: 80px;
  height: 35px;
  outline: none;
  font-size: 1.5rem;
  color: white;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  cursor: pointer;
}
.tab-container .form-container .form .form-item .form-item-btn #submit {
  background-color: #7aa7f2;
}
.tab-container .form-container .form .form-item .form-item-btn #submit:hover {
  background-color: #6398f0;
}
.tab-container .form-container .form .form-item .form-item-btn #submit:active {
  background-color: #4c88ed;
}
.tab-container .form-container .form .form-item .form-item-btn #logout {
  background-color: #e04a4a;
}
.tab-container .form-container .form .form-item .form-item-btn #logout:hover {
  background-color: #dc3434;
}
.tab-container .form-container .form .form-item .form-item-btn #logout:active {
  background-color: #d32424;
}
.tab-container .form-container .form .form-item .img-preview {
  display: table;
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 10px 0;
  text-align: center;
  border-radius: 3px;
}
.tab-container .form-container .form .form-item .img-preview .table-vertical {
  display: table-cell;
  vertical-align: middle;
  border-radius: 3px;
}
.tab-container .form-container .form .form-item .img-preview .table-vertical img {
  max-height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
