.user-container {
  padding: 80px 100px;
  padding-bottom: 0;
  background-color: white;
  box-shadow: 0 0 5px #aaaaaa;
  min-height: 700px;
}
.user-container a:hover {
  color: #40a3c2;
}
.user-container .user-portrait {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  top: 15px;
  border-radius: 50%;
  background-image: url("/public/static/images/anonymous.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.user-container .user-portrait .follow-btn {
  position: absolute;
  width: 70px;
  height: 22px;
  bottom: -32px;
  left: 15px;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
}
.user-container .user-portrait .unfollow {
  background-color: #40a3c2;
}
.user-container .user-portrait .following {
  background-color: #40a3c2;
}
.user-container .user-info {
  float: left;
  margin-left: 30px;
}
.user-container .user-info .user-name {
  color: #5d5d5d;
}
.user-container .user-info .user-name .fa {
  margin-right: 10px;
  font-weight: bold;
}
.user-container .user-info .user-name .fa-mars {
  color: #40a3c2;
}
.user-container .user-info .user-name .fa-venus {
  color: #f266ed;
}
.user-container .user-info .user-name .sex-icon {
  margin-right: 5px;
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}
.user-container .user-info .user-area,
.user-container .user-info .user-desc {
  color: #828caa;
  font-weight: normal;
}
.user-container .user-follower,
.user-container .user-following {
  float: right;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  color: #828caa;
  background-color: #f5f8f9;
  font-size: 2rem;
}
.user-container .user-follower .follow-num,
.user-container .user-following .follow-num {
  font-size: 2.5rem;
  color: #5d5d5d;
  margin-bottom: 15px;
}
.user-container .user-following {
  margin-right: 50px;
}
.user-container .user-tabs {
  width: 100%;
  margin-top: 30px;
  border-bottom: 1px solid #e7e7e7;
}
.user-container .user-tabs .tab-item {
  float: left;
  height: 50px;
  line-height: 50px;
  padding: 0 35px;
  text-align: center;
  color: #828caa;
  border-top: 2px solid white;
}
.user-container .user-tabs .tab-item:hover {
  background-color: #f5f8f9;
  border-top: 2px solid #40a3c2;
  color: #40a3c2;
}
.user-container .user-tabs .current-tab {
  background-color: #f5f8f9;
  border-top: 2px solid #40a3c2;
  color: #40a3c2;
}
