<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>发现</title>
        <link rel="stylesheet" href="/public/static/font/font-awesome-4.5.0/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <link href="/public/static/css/vendors.css?c74a090999224bfa1d0c" rel="stylesheet"><link href="/public/static/css/food_explore.css?c74a090999224bfa1d0c" rel="stylesheet"><script type="text/javascript" src="/public/static/js/vendors.js?c74a090999224bfa1d0c"></script><script type="text/javascript" src="/public/static/js/food_explore.js?c74a090999224bfa1d0c"></script></head>
    <body>
        <div class="navbar">

            <div class="nav">
                <ul>
                    <a href="#">
                        <li>首页<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>专题<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>发现<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>好吃<span class="cursor"></span></li>
                    </a>
                </ul>
                <a href="#"><button type="button" name="login" id="login-btn">登录</button></a>
                <a href="#"><button type="button" name="register" id="register-btn">注册</button></a>
                <input type="text" name="search" value="寻找好物……" id="search">
            </div>
        </div>

        


        <div class="explore-container">
            <div class="explore-tab-container">
                <ul class="tab-ul clearfix">
                    <li class="tab-ul-item current-item">最新</li>
                    <li class="tab-ul-item">热门</li>
                </ul>
            </div>

            <div class="explore-main-container">
                <div class="item">
                    <a href="#">
                        <div class="item-img" style="background-image: url('/public/static/images/food2.jpg')">
                            <div class="item-main">
                                <h4 class="item-title">苏格格巴登巴登小蛋糕</h4>
                                <div class="item-bottom">
                                    <div class="item-create-user">
                                        分享自 Rlilyyy
                                    </div>
                                    <div class="icons">
                                        <i class="fa fa-smile-o"><span class="like-num">123</span></i>
                                        <i class="fa fa-frown-o"><span class="dislike-num">321</span></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="item">
                    <a href="#">
                        <div class="item-img" style="background-image: url('/public/static/images/topic6.jpg')">
                            <div class="item-main">
                                <h4 class="item-title">苏格格巴登巴登小蛋糕</h4>
                                <div class="item-bottom">
                                    <div class="item-create-user">
                                        分享自 Rlilyyy
                                    </div>
                                    <div class="icons">
                                        <i class="fa fa-smile-o"><span class="like-num">123</span></i>
                                        <i class="fa fa-frown-o"><span class="dislike-num">321</span></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="#">
                        <div class="item-img" style="background-image: url('/public/static/images/topic5.jpg')">
                            <div class="item-main">
                                <h4 class="item-title">苏格格巴登巴登小蛋糕</h4>
                                <div class="item-bottom">
                                    <div class="item-create-user">
                                        分享自 Rlilyyy
                                    </div>
                                    <div class="icons">
                                        <i class="fa fa-smile-o"><span class="like-num">123</span></i>
                                        <i class="fa fa-frown-o"><span class="dislike-num">321</span></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="#">
                        <div class="item-img" style="background-image: url('/public/static/images/topic4.jpg')">
                            <div class="item-main">
                                <h4 class="item-title">苏格格巴登巴登小蛋糕</h4>
                                <div class="item-bottom">
                                    <div class="item-create-user">
                                        分享自 Rlilyyy
                                    </div>
                                    <div class="icons">
                                        <i class="fa fa-smile-o"><span class="like-num">123</span></i>
                                        <i class="fa fa-frown-o"><span class="dislike-num">321</span></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="#">
                        <div class="item-img" style="background-image: url('/public/static/images/topic3.jpg')">
                            <div class="item-main">
                                <h4 class="item-title">苏格格巴登巴登小蛋糕</h4>
                                <div class="item-bottom">
                                    <div class="item-create-user">
                                        分享自 Rlilyyy
                                    </div>
                                    <div class="icons">
                                        <i class="fa fa-smile-o"><span class="like-num">123</span></i>
                                        <i class="fa fa-frown-o"><span class="dislike-num">321</span></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="#">
                        <div class="item-img" style="background-image: url('/public/static/images/topic2.jpg')">
                            <div class="item-main">
                                <h4 class="item-title">苏格格巴登巴登小蛋糕</h4>
                                <div class="item-bottom">
                                    <div class="item-create-user">
                                        分享自 Rlilyyy
                                    </div>
                                    <div class="icons">
                                        <i class="fa fa-smile-o"><span class="like-num">123</span></i>
                                        <i class="fa fa-frown-o"><span class="dislike-num">321</span></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="#">
                        <div class="item-img" style="background-image: url('/public/static/images/topic1.jpg')">
                            <div class="item-main">
                                <h4 class="item-title">苏格格巴登巴登小蛋糕</h4>
                                <div class="item-bottom">
                                    <div class="item-create-user">
                                        分享自 Rlilyyy
                                    </div>
                                    <div class="icons">
                                        <i class="fa fa-smile-o"><span class="like-num">123</span></i>
                                        <i class="fa fa-frown-o"><span class="dislike-num">321</span></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </body>
</html>
