<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>列表</title>
        <link rel="stylesheet" href="/public/static/font/font-awesome-4.5.0/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <link href="/public/static/css/vendors.css?079fbbcc7ac095fb7f54" rel="stylesheet"><link href="/public/static/css/food_list.css?079fbbcc7ac095fb7f54" rel="stylesheet"></head>
    <body>
        <div class="navbar">

            <div class="nav">
                <ul>
                    <li>
                        <a href="#">首页</a>
                        <span class="cursor"></span>
                    </li>
                    <li>
                        <a href="#">专题</a>
                        <span class="cursor"></span>
                    </li>
                    <li>
                        <a href="#">发现</a>
                        <span class="cursor"></span>
                    </li>
                    <li>
                        <a href="#">吃</a>
                        <span class="cursor"></span>
                    </li>
                    <li>
                        <a href="#">旅</a>
                        <span class="cursor"></span>
                    </li>
                </ul>
                <a href="#"><button type="button" name="login" id="login-btn">登录</button></a>
                <a href="#"><button type="button" name="register" id="register-btn">注册</button></a>
                <input type="text" name="search" value="寻找好物……" id="search">
            </div>
        </div>

        


        <div class="explore-container">
            <div class="explore-tab-container">
                <ul class="tab-ul clearfix">
                    
                    <li class="tab-ul-item current-item">最近热门</li>
                    <li class="tab-ul-item">精选</li>
                    <li class="tab-ul-item">零食</li>
                    <li class="tab-ul-item">小吃</li>
                    <li class="tab-ul-item">高档</li>
                    <li class="tab-ul-item">发现</li>
                </ul>
            </div>

            <div class="explore-main-container clearfix">
                
                <div class="item">
                    <a href="#">
                        <div class="item-img" style="background-image: url('/public/static/images/food2.jpg')"></div>
                    </a>
                    <div class="item-main">
                        <a href="#"><h3 class="item-title">苏格格巴登巴登小蛋糕</h3></a>
                        <div class="item-tags">
                            <i class="fa fa-tags"></i>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                        </div>
                    </div>
                </div>

                
                <div class="item">
                    <a href="#">
                        <div class="item-img" style="background-image: url('/public/static/images/food2.jpg')"></div>
                    </a>
                    <div class="item-main">
                        <a href="#"><h3 class="item-title">苏格格巴登巴登小蛋糕</h3></a>
                        <div class="item-tags">
                            <i class="fa fa-tags"></i>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <a href="#">
                        <div class="item-img" style="background-image: url('/public/static/images/food2.jpg')"></div>
                    </a>
                    <div class="item-main">
                        <a href="#"><h3 class="item-title">苏格格巴登巴登小蛋糕</h3></a>
                        <div class="item-tags">
                            <i class="fa fa-tags"></i>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <a href="#">
                        <div class="item-img" style="background-image: url('/public/static/images/food2.jpg')"></div>
                    </a>
                    <div class="item-main">
                        <a href="#"><h3 class="item-title">苏格格巴登巴登小蛋糕</h3></a>
                        <div class="item-tags">
                            <i class="fa fa-tags"></i>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <a href="#">
                        <div class="item-img" style="background-image: url('/public/static/images/food2.jpg')"></div>
                    </a>
                    <div class="item-main">
                        <a href="#"><h3 class="item-title">苏格格巴登巴登小蛋糕</h3></a>
                        <div class="item-tags">
                            <i class="fa fa-tags"></i>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                            <span class="tag"><a href="#">傻逼</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="/public/static/js/vendors.js?079fbbcc7ac095fb7f54"></script><script src="/public/static/js/food_list.js?079fbbcc7ac095fb7f54"></script></body>
</html>
