<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>吃</title>
        <link rel="stylesheet" href="/public/static/font/font-awesome-4.5.0/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <link href="/public/static/css/vendors.css?da0a5f36c12d61c3f446" rel="stylesheet"><link href="/public/static/css/user_food_list.css?da0a5f36c12d61c3f446" rel="stylesheet"></head>
    <body>
        <div class="navbar">

            <div class="nav">
                <ul>
                    <li>
                        <a href="#">首页</a>
                        <span class="cursor"></span>
                    </li>
                    <li>
                        <a href="#">专题</a>
                        <span class="cursor"></span>
                    </li>
                    <li>
                        <a href="#">发现</a>
                        <span class="cursor"></span>
                    </li>
                    <li>
                        <a href="#">吃</a>
                        <span class="cursor"></span>
                    </li>
                    <li>
                        <a href="#">旅</a>
                        <span class="cursor"></span>
                    </li>
                </ul>
                <a href="#"><button type="button" name="login" id="login-btn">登录</button></a>
                <a href="#"><button type="button" name="register" id="register-btn">注册</button></a>
                <input type="text" name="search" value="寻找好物……" id="search">
            </div>
        </div>
        <div class="user-container clearfix">
            <div class="user-main clearfix">
                <div class="user-portrait">
                    
                    <a href="#"><button type="button" name="button" class="follow-btn unfollow">关注</button></a>
                </div>
                <div class="user-info">
                    <h2 class="user-name"><i class="fa fa-venus"></i>滨滨和泓泓</h2>
                    <h4 class="user-area">广东省，珠海市，香洲区，北京理工大学珠海学院</h4>
                    <h4 class="user-desc">简介：高冷又闷骚☞程序猿、码农、艺术家、JavaScript爱好者、前端小渣渣</h4>
                </div>
                <div class="user-follower">
                    <div class="follow-num">256</div>
                    粉丝
                </div>
                <div class="user-following">
                    <div class="follow-num">161</div>
                    关注
                </div>
            </div>

            <div class="user-tabs clearfix">
                <div class="tab-item">
                    主页
                </div>
                <div class="tab-item">
                    分享
                </div>
                <div class="tab-item">
                    专题收藏
                </div>
                <div class="tab-item current-tab">
                    吃过的
                </div>
                <div class="tab-item">
                    想吃的
                </div>
                <div class="tab-item">
                    关注
                </div>
                <div class="tab-item">
                    粉丝
                </div>
                <div class="tab-item">
                    设置
                </div>
            </div>
        </div>

        <div class="tab-container">
            <div class="eat-container clearfix">
                <div class="eat-item clearfix">
                    <div class="food-image" style="background-image: url('/public/static/images/topic1.jpg')"></div>
                    <div class="eat-item-main">
                        <h3 class="food-title"><a href="#">家庭个护小能手，健康携手到白头</a></h3>
                        <p class="food-desc">
                            怀揣着对生活细节更高的要求，个人护理小家电已经成为了提高生活品质的一部分。现在市面上众多个性突出、功
                        </p>
                        <div class="eat-item-icons">
                            
                            
                            <i class="fa fa-hand-peace-o"><span class="num">153</span></i>
                            <a href="#"><i class="fa fa-share-alt"></i></a>
                        </div>
                    </div>
                </div>

                <div class="eat-item clearfix">
                    <div class="food-image" style="background-image: url('/public/static/images/topic1.jpg')"></div>
                    <div class="eat-item-main">
                        <h3 class="food-title"><a href="#">家庭个护小能手，健康携手到白头</a></h3>
                        <p class="food-desc">
                            怀揣着对生活细节更高的要求，个人护理小家电已经成为了提高生活品质的一部分。现在市面上众多个性突出、功
                        </p>
                        <div class="eat-item-icons">
                            
                            
                            <i class="fa fa-hand-peace-o"><span class="num">153</span></i>
                            <a href="#"><i class="fa fa-share-alt"></i></a>
                        </div>
                    </div>
                </div>

                <div class="eat-item clearfix">
                    <div class="food-image" style="background-image: url('/public/static/images/topic1.jpg')"></div>
                    <div class="eat-item-main">
                        <h3 class="food-title"><a href="#">家庭个护小能手，健康携手到白头</a></h3>
                        <p class="food-desc">
                            怀揣着对生活细节更高的要求，个人护理小家电已经成为了提高生活品质的一部分。现在市面上众多个性突出、功
                        </p>
                        <div class="eat-item-icons">
                            
                            
                            <i class="fa fa-hand-peace-o"><span class="num">153</span></i>
                            <a href="#"><i class="fa fa-share-alt"></i></a>
                        </div>
                    </div>
                </div>

                <div class="eat-item clearfix">
                    <div class="food-image" style="background-image: url('/public/static/images/topic1.jpg')"></div>
                    <div class="eat-item-main">
                        <h3 class="food-title"><a href="#">家庭个护小能手，健康携手到白头</a></h3>
                        <p class="food-desc">
                            怀揣着对生活细节更高的要求，个人护理小家电已经成为了提高生活品质的一部分。现在市面上众多个性突出、功
                        </p>
                        <div class="eat-item-icons">
                            
                            
                            <i class="fa fa-hand-peace-o"><span class="num">153</span></i>
                            <a href="#"><i class="fa fa-share-alt"></i></a>
                        </div>
                    </div>
                </div>

                <div class="eat-item clearfix">
                    <div class="food-image" style="background-image: url('/public/static/images/topic1.jpg')"></div>
                    <div class="eat-item-main">
                        <h3 class="food-title"><a href="#">家庭个护小能手，健康携手到白头</a></h3>
                        <p class="food-desc">
                            怀揣着对生活细节更高的要求，个人护理小家电已经成为了提高生活品质的一部分。现在市面上众多个性突出、功
                        </p>
                        <div class="eat-item-icons">
                            
                            
                            <i class="fa fa-hand-peace-o"><span class="num">153</span></i>
                            <a href="#"><i class="fa fa-share-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="/public/static/js/vendors.js?da0a5f36c12d61c3f446"></script><script src="/public/static/js/user_food_list.js?da0a5f36c12d61c3f446"></script></body>
</html>
