<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/static/font/font-awesome-4.5.0/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
        <script src="http://localhost:8111/webpack-dev-server.js"></script>
        <title>关注页面</title>
    <link href="/public/static/css/vendors.css?989093b4cf1f4832b309" rel="stylesheet"><link href="/public/static/css/user_list.css?989093b4cf1f4832b309" rel="stylesheet"></head>
    <body>
        <div class="navbar">

            <div class="nav">
                <ul>
                    <li>
                        <a href="#">首页</a>
                        <span class="cursor"></span>
                    </li>
                    <li>
                        <a href="#">专题</a>
                        <span class="cursor"></span>
                    </li>
                    <li>
                        <a href="#">发现</a>
                        <span class="cursor"></span>
                    </li>
                    <li>
                        <a href="#">吃</a>
                        <span class="cursor"></span>
                    </li>
                    <li>
                        <a href="#">旅</a>
                        <span class="cursor"></span>
                    </li>
                </ul>
                <a href="#"><button type="button" name="login" id="login-btn">登录</button></a>
                <a href="#"><button type="button" name="register" id="register-btn">注册</button></a>
                <input type="text" name="search" value="寻找好物……" id="search">
            </div>
        </div>
        <div class="user-container clearfix">
            <div class="user-main clearfix">
                <div class="user-portrait">
                    <a href="#"><button type="button" name="button" class="follow-btn unfollow">关注</button></a>
                </div>
                <div class="user-info">
                    
                    
                    <h2 class="user-name"><i class="fa fa-mars"></i>滨滨和泓泓</h2>
                    <h4 class="user-area">广东省，珠海市，香洲区，北京理工大学珠海学院</h4>
                    <h4 class="user-desc">简介：高冷又闷骚☞程序猿、码农、艺术家、JavaScript爱好者、前端小渣渣</h4>
                </div>
                <div class="user-follower">
                    <div class="follow-num">256</div>
                    粉丝
                </div>
                <div class="user-following">
                    <div class="follow-num">161</div>
                    关注
                </div>
            </div>


            <div class="user-tabs clearfix">
                <div class="tab-item">
                    主页
                </div>
                <div class="tab-item">
                    分享
                </div>
                <div class="tab-item">
                    专题收藏
                </div>
                <div class="tab-item">
                    吃过的
                </div>
                <div class="tab-item">
                    想吃的
                </div>
                <div class="tab-item current-tab">
                    关注
                </div>
                <div class="tab-item">
                    粉丝
                </div>
                <div class="tab-item">
                    设置
                </div>
            </div>
        </div>

        <div class="tab-container">
            <div class="user-item-container clearfix">
                <div class="user-item">
                    <a href="#"><div class="user-item-portrait"></div></a>
                    <a href="#"><span class="user-item-info">滨滨和泓泓</span></a>
                    <a href="#"><span class="user-item-info">45,012 人关注他</span></a>
                    <a href="#"><button type="button" name="follow" class="user-item-follow-btn">关注</button></a>
                </div>

                <div class="user-item">
                    <a href="#"><div class="user-item-portrait"></div></a>
                    <a href="#"><span class="user-item-info">滨滨和泓泓</span></a>
                    <a href="#"><span class="user-item-info">45,012 人关注他</span></a>
                    
                    <a href="#"><button type="button" name="follow" class="user-item-follow-btn has-follow">取消关注</button></a>
                </div>

                <div class="user-item">
                    <a href="#"><div class="user-item-portrait"></div></a>
                    <a href="#"><span class="user-item-info">滨滨和泓泓</span></a>
                    <a href="#"><span class="user-item-info">45,012 人关注他</span></a>
                    <a href="#"><button type="button" name="follow" class="user-item-follow-btn">关注</button></a>
                </div>

                <div class="user-item">
                    <a href="#"><div class="user-item-portrait"></div></a>
                    <a href="#"><span class="user-item-info">滨滨和泓泓</span></a>
                    <a href="#"><span class="user-item-info">45,012 人关注他</span></a>
                    <a href="#"><button type="button" name="follow" class="user-item-follow-btn">关注</button></a>
                </div>

                <div class="user-item">
                    <a href="#"><div class="user-item-portrait"></div></a>
                    <a href="#"><span class="user-item-info">滨滨和泓泓</span></a>
                    <a href="#"><span class="user-item-info">45,012 人关注他</span></a>
                    <a href="#"><button type="button" name="follow" class="user-item-follow-btn">关注</button></a>
                </div>

                <div class="user-item">
                    <a href="#"><div class="user-item-portrait"></div></a>
                    <a href="#"><span class="user-item-info">滨滨和泓泓</span></a>
                    <a href="#"><span class="user-item-info">45,012 人关注他</span></a>
                    <a href="#"><button type="button" name="follow" class="user-item-follow-btn">关注</button></a>
                </div>

                <div class="user-item">
                    <a href="#"><div class="user-item-portrait"></div></a>
                    <a href="#"><span class="user-item-info">滨滨和泓泓</span></a>
                    <a href="#"><span class="user-item-info">45,012 人关注他</span></a>
                    <a href="#"><button type="button" name="follow" class="user-item-follow-btn">关注</button></a>
                </div>

                <div class="user-item">
                    <a href="#"><div class="user-item-portrait"></div></a>
                    <a href="#"><span class="user-item-info">滨滨和泓泓</span></a>
                    <a href="#"><span class="user-item-info">45,012 人关注他</span></a>
                    <a href="#"><button type="button" name="follow" class="user-item-follow-btn">关注</button></a>
                </div>
            </div>

        </div>
    <script src="/public/static/js/vendors.js?989093b4cf1f4832b309"></script><script src="/public/static/js/user_list.js?989093b4cf1f4832b309"></script></body>
</html>
