<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>登录</title>
    <link href="/static/css/vendors.css?85fe05d95bc221b0adbb" rel="stylesheet"><link href="/static/css/user_login.css?85fe05d95bc221b0adbb" rel="stylesheet"></head>
    <body>
        <div class="user-container">
            <div class="user-container-title">
                <h2>登录 | Login</h2>
                <h3>登录，寻找更好的</h3>
            </div>
            <div class="form-container" id="form-container">
                <form class="" action="" method="post" autocomplete="off">
                    <div class="form-item">
                        <label for="email">账号 | USERNAME</label>
                        <input type="email" name="email" id="email" placeholder="">
                    </div>
                    <div class="form-item">
                        <label for="password">密码 | PASSWORD</label>
                        <input type="password" name="password" id="password" placeholder="">
                    </div>
                    <div class="form-item">
                        <input type="submit" name="login" id="login-btn" value="登录">
                    </div>
                    <div class="register-tab">
                        <a href="http://localhost:8111/user/templates/user/register.html">加入我们 | JOIN US</a>
                    </div>
                </form>
            </div>
        </div>
    <script src="/static/js/vendors.js?85fe05d95bc221b0adbb"></script><script src="/static/js/user_login.js?85fe05d95bc221b0adbb"></script></body>
</html>
