<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>登录</title>
    <link href="/public/static/css/vendors.css?c9f0c8817579479512ed" rel="stylesheet"><link href="/public/static/css/user_login.css?c9f0c8817579479512ed" rel="stylesheet"></head>
    <body>
        <div class="navbar">
            
            <div class="nav">
                <ul>
                    <a href="#">
                        <li>首页<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>专题<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>发现<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>好吃<span class="cursor"></span></li>
                    </a>
                </ul>
                <a href="#"><button type="button" name="login" id="login-btn">登录</button></a>
                <a href="#"><button type="button" name="register" id="register-btn">注册</button></a>
                <input type="text" name="search" value="寻找好物……" id="search">
            </div>
        </div>
        <div class="user-container">
            <div class="user-container-title">
                <h2>登录</h2>
                <h3>登录，寻找更好的</h3>
            </div>
            <div class="form-container" id="form-container">
                <form class="" action="" method="post" autocomplete="off">
                    <div class="form-item">
                        <label for="email">账号</label>
                        <input type="email" name="email" id="email" placeholder="">
                    </div>
                    <div class="form-item">
                        <label for="password">密码</label>
                        <input type="password" name="password" id="password" placeholder="">
                    </div>
                    <div class="form-item">
                        <input type="submit" name="login" id="login-btn" value="登录">
                    </div>
                    <div class="register-tab">
                        <a href="http://localhost:8111/user/templates/user/register.html">加入我们 | JOIN US</a>
                    </div>
                </form>
            </div>
        </div>
    <script src="/public/static/js/vendors.js?c9f0c8817579479512ed"></script><script src="/public/static/js/user_login.js?c9f0c8817579479512ed"></script></body>
</html>
