<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>个人资料</title>
    <link href="/public/static/css/vendors.css?572e03f87b647d46be47" rel="stylesheet"><link href="/public/static/css/user_profile.css?572e03f87b647d46be47" rel="stylesheet"></head>
    <body>
        <div class="navbar">

            <div class="nav">
                <ul>
                    <a href="#">
                        <li>首页<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>专题<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>发现<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>好吃<span class="cursor"></span></li>
                    </a>
                </ul>
                <a href="#"><button type="button" name="login" id="login-btn">登录</button></a>
                <a href="#"><button type="button" name="register" id="register-btn">注册</button></a>
                <input type="text" name="search" value="寻找好物……" id="search">
            </div>
        </div>
        <div class="user-container clearfix">
            <div class="user-main clearfix">
                <div class="user-portrait">
                    
                    <a href="#"><button type="button" name="button" class="follow-btn unfollow">关注</button></a>
                </div>
                <div class="user-info">
                    <h2 class="user-name"><i class="fa fa-venus"></i>滨滨和泓泓</h2>
                    <h4 class="user-area">广东省，珠海市，香洲区，北京理工大学珠海学院</h4>
                    <h4 class="user-desc">简介：高冷又闷骚☞程序猿、码农、艺术家、JavaScript爱好者、前端小渣渣</h4>
                </div>
                <div class="user-follower">
                    <div class="follow-num">256</div>
                    粉丝
                </div>
                <div class="user-following">
                    <div class="follow-num">161</div>
                    关注
                </div>
            </div>

            <div class="user-tabs clearfix">
                <a href="#">
                    <div class="tab-item">主页</div>
                </a>
                <a href="#">
                    <div class="tab-item">分享</div>
                </a>
                <a href="#">
                    <div class="tab-item">专题收藏</div>
                </a>
                <a href="#">
                    <div class="tab-item">吃过的</div>
                </a>
                <a href="#">
                    <div class="tab-item">想吃的</div>
                </a>
                <a href="#">
                    <div class="tab-item">关注</div>
                </a>
                <a href="#">
                    <div class="tab-item">粉丝</div>
                </a>
                <a href="#">
                    <div class="tab-item current-tab">设置</div>
                </a>
            </div>
        </div>

        <div class="tab-container">
            <div class="form-container">
                <form class="form" action="index.html" method="post">
                    <div class="form-item">
                        <label class="form-item-label" for="">设置头像</label>
                        <div class="img-preview">
                            <span class="table-vertical" id="preview-span"><img src="/public/static/images/topic1.jpg" alt="背景预览"></span>
                        </div>
                        <input class="form-item-file" id="preview-input" type="file" name="newPortrait" value="">
                    </div>

                    <div class="form-item">
                        <label class="form-item-label">居住城市</label>
                        <select class="selections" name="province">
                            <option value="广东">广东</option>
                            <option value="北京">北京</option>
                        </select>
                        <span class="form-span">省</span>
                        <select class="selections" name="city">
                            <option value="珠海">珠海</option>
                            <option value="广州">广州</option>
                        </select>
                        <span class="form-span">市</span>
                    </div>

                    <div class="form-item">
                        <label class="form-item-label">出生日期</label>
                        <select class="selections" name="year">
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                        </select>
                        <span class="form-span">年</span>
                        <select class="selections" name="month">
                            <option value="06">06</option>
                            <option value="05">05</option>
                        </select>
                        <span class="form-span">月</span>
                        <select class="selections" name="day">
                            <option value="21">21</option>
                            <option value="20">20</option>
                        </select>
                        <span class="form-span">日</span>
                    </div>

                    <div class="form-item">
                        <label class="form-item-label">性别</label>
                        <input class="radio" type="radio" name="sex" value="male" id="male">
                        <label class="form-radio-label" for="male">男</label>

                        <input class="radio" type="radio" name="sex" value="male" id="female" style="margin-left: 10px">
                        <label class="form-radio-label" for="female">女</label>
                    </div>

                    <div class="form-item">
                        <label class="form-item-label">个人简介</label>
                        <textarea class="form-textarea" name="personalDesc" rows="8" cols="50"></textarea>
                    </div>

                    <div class="form-item">
                        <div class="form-item-btn">
                            <input type="submit" name="submit" value="保存" id="submit">
                            <input type="submit" name="logout" value="注销账号" id="logout">
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <script src="/public/static/js/vendors.js?572e03f87b647d46be47"></script><script src="/public/static/js/user_profile.js?572e03f87b647d46be47"></script></body>
</html>
