<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>注册</title>
        <style media="screen">
            .user-container {
                margin-top: -250px !important;
            }
        </style>
    <link href="/public/static/css/vendors.css?f8b0c4bc05a4f0c6fd33" rel="stylesheet"><link href="/public/static/css/user_register.css?f8b0c4bc05a4f0c6fd33" rel="stylesheet"></head>
    <body>
        <div class="navbar">
            
            <div class="nav">
                <ul>
                    <a href="#">
                        <li>首页<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>专题<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>发现<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>好吃<span class="cursor"></span></li>
                    </a>
                </ul>
                <a href="#"><button type="button" name="login" id="login-btn">登录</button></a>
                <a href="#"><button type="button" name="register" id="register-btn">注册</button></a>
                <input type="text" name="search" value="寻找好物……" id="search">
            </div>
        </div>
        <div class="user-container">
            <div class="user-container-title">
                <h2>注册 | Register</h2>
                <h3>注册，加入我们的大家庭</h3>
            </div>
            <div class="form-container" id="form-container">
                <form class="" action="" method="post" autocomplete="off">
                    <div class="form-item">
                        <label for="username">账号</label>
                        <input type="username" name="username" id="username" placeholder="">
                    </div>
                    <div class="form-item">
                        <label for="email">邮箱</label>
                        <input type="email" name="email" id="email" placeholder="">
                    </div>
                    <div class="form-item">
                        <label for="password">密码</label>
                        <input type="password" name="password" id="password" placeholder="">
                    </div>
                    <div class="form-item">
                        <label for="confirmPassword">确认密码</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="">
                    </div>

                    <div class="form-item">
                        <input type="submit" name="register" id="register-btn" value="注册">
                    </div>
                    <div class="register-tab">
                        <a href="http://localhost:8111/user/templates/user/login.html">已有账号 | GO TO LOGIN</a>
                    </div>
                </form>
            </div>
        </div>
    <script src="/public/static/js/vendors.js?f8b0c4bc05a4f0c6fd33"></script><script src="/public/static/js/user_register.js?f8b0c4bc05a4f0c6fd33"></script></body>
</html>
