<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>分享</title>
        <script src="http://localhost:8111/webpack-dev-server.js"></script>
    <link href="/public/static/css/vendors.css?adff2d5fb18c30d8ac96" rel="stylesheet"><link href="/public/static/css/user_share.css?adff2d5fb18c30d8ac96" rel="stylesheet"><script type="text/javascript" src="/public/static/js/vendors.js?adff2d5fb18c30d8ac96"></script><script type="text/javascript" src="/public/static/js/user_share.js?adff2d5fb18c30d8ac96"></script></head>
    <body>
        <div class="navbar">

            <div class="nav">
                <ul>
                    <a href="#">
                        <li>首页<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>专题<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>发现<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>好吃<span class="cursor"></span></li>
                    </a>
                </ul>
                <a href="#"><button type="button" name="login" id="login-btn">登录</button></a>
                <a href="#"><button type="button" name="register" id="register-btn">注册</button></a>
                <input type="text" name="search" value="寻找好物……" id="search">
            </div>
        </div>
        <div class="user-container clearfix">
            <div class="user-main clearfix">
                <div class="user-portrait">
                    
                    <a href="#"><button type="button" name="button" class="follow-btn unfollow">关注</button></a>
                </div>
                <div class="user-info">
                    <h2 class="user-name"><i class="fa fa-venus"></i>滨滨和泓泓</h2>
                    <h4 class="user-area">广东省，珠海市，香洲区，北京理工大学珠海学院</h4>
                    <h4 class="user-desc">简介：高冷又闷骚☞程序猿、码农、艺术家、JavaScript爱好者、前端小渣渣</h4>
                </div>
                
            </div>

            <div class="user-tabs clearfix">
                <a href="#">
                    <div class="tab-item">主页</div>
                </a>
                <a href="#">
                    <div class="tab-item current-tab">分享</div>
                </a>
                <a href="#">
                    <div class="tab-item">专题收藏</div>
                </a>
                <a href="#">
                    <div class="tab-item">吃过的</div>
                </a>
                <a href="#">
                    <div class="tab-item">想吃的</div>
                </a>
                <a href="#">
                    <div class="tab-item">关注</div>
                </a>
                <a href="#">
                    <div class="tab-item">粉丝</div>
                </a>
                <a href="#">
                    <div class="tab-item">设置</div>
                </a>
            </div>
        </div>

        <div class="tab-container">
            <div class="share-container">
                <ul class="share-container-ul">
                    <li class="share-container-item clearfix">
                        <span class="share-time">分享于 6 小时前</span>
                        <div class="item-index">
                            1.
                        </div>
                        <div class="images-item" style="background-image: url('/public/static/images/topic1.jpg')"></div>
                        <div class="item-main">
                            <h3 class="item-title"><a href="#">「送男友」10款格调手机壳</a></h3>
                            <p class="item-desc">
                                给男友买百元以上手机壳的姑娘，都是真~爱~啊！毕竟对于一买就是三五个，
                                手机壳随着心情换的女生而言，廉价
                            </p>
                        </div>
                    </li>

                    <li class="share-container-item">
                        <span class="share-time">分享于 2 天前</span>
                        <div class="item-index">
                            2.
                        </div>
                        <div class="images-item" style="background-image: url('/public/static/images/topic2.jpg')"></div>
                        <div class="item-main">
                            <h3 class="item-title"><a href="#">家庭个护小能手，健康携手到白头</a></h3>
                            <p class="item-desc">
                                怀揣着对生活细节更高的要求，个人护理小家电已经成为了提高生活品质的一部分。现在市面上众多个性突出、功
                            </p>
                        </div>
                    </li>

                    <li class="share-container-item">
                        <span class="share-time">分享于 1 年前</span>
                        <div class="item-index">
                            3.
                        </div>
                        <div class="images-item" style="background-image: url('/public/static/images/topic3.jpg')"></div>
                        <div class="item-main">
                            <h3 class="item-title"><a href="#">Take Care Of Your Teeth</a></h3>
                            <p class="item-desc">
                                No matter what your age,you need to take care of your teeth and mouth.When your mouth is...
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
