<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>专题收藏</title>
        <link rel="stylesheet" href="/public/static/font/font-awesome-4.5.0/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <link href="/public/static/css/vendors.css?0f21326ded55d23066ac" rel="stylesheet"><link href="/public/static/css/user_topic_collection.css?0f21326ded55d23066ac" rel="stylesheet"></head>
    <body>
        <div class="navbar">

            <div class="nav">
                <ul>
                    <a href="#">
                        <li>首页<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>专题<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>发现<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>好吃<span class="cursor"></span></li>
                    </a>
                </ul>
                <a href="#"><button type="button" name="login" id="login-btn">登录</button></a>
                <a href="#"><button type="button" name="register" id="register-btn">注册</button></a>
                <input type="text" name="search" value="寻找好物……" id="search">
            </div>
        </div>
        <div class="user-container clearfix">
            <div class="user-main clearfix">
                <div class="user-portrait">
                    
                    <a href="#"><button type="button" name="button" class="follow-btn unfollow">关注</button></a>
                </div>
                <div class="user-info">
                    <h2 class="user-name"><i class="fa fa-venus"></i>滨滨和泓泓</h2>
                    <h4 class="user-area">广东省，珠海市，香洲区，北京理工大学珠海学院</h4>
                    <h4 class="user-desc">简介：高冷又闷骚☞程序猿、码农、艺术家、JavaScript爱好者、前端小渣渣</h4>
                </div>
                
            </div>

            <div class="user-tabs clearfix">
                <a href="#">
                    <div class="tab-item">主页</div>
                </a>
                <a href="#">
                    <div class="tab-item">分享</div>
                </a>
                <a href="#">
                    <div class="tab-item current-tab">专题收藏</div>
                </a>
                <a href="#">
                    <div class="tab-item">吃过的</div>
                </a>
                <a href="#">
                    <div class="tab-item">想吃的</div>
                </a>
                <a href="#">
                    <div class="tab-item">关注</div>
                </a>
                <a href="#">
                    <div class="tab-item">粉丝</div>
                </a>
                <a href="#">
                    <div class="tab-item">设置</div>
                </a>
            </div>
        </div>

        <div class="tab-container">
            <div class="topic-container clearfix">
                <div class="topic-item clearfix">
                    <div class="topic-item-image-container">
                        <a href="#"><div class="topic-item-image" style="background-image: url('/public/static/images/topic1.jpg')"></div></a>
                    </div>
                    <h4 class="topic-item-title">
                        家庭个护小能手，健康携手到白头
                    </h4>
                    <div class="topic-item-icons">
                        <i class="fa fa-bookmark"><span class="num">97</span></i>
                    </div>
                </div>

                <div class="topic-item clearfix">
                    <div class="topic-item-image-container">
                        <a href="#"><div class="topic-item-image" style="background-image: url('/public/static/images/topic1.jpg')"></div></a>
                    </div>
                    <h4 class="topic-item-title">
                        家庭个护小能手，健康携手到白头
                    </h4>
                    <div class="topic-item-icons">
                        <i class="fa fa-bookmark"><span class="num">97</span></i>
                    </div>
                </div>

                <div class="topic-item clearfix">
                    <div class="topic-item-image-container">
                        <a href="#"><div class="topic-item-image" style="background-image: url('/public/static/images/topic1.jpg')"></div></a>
                    </div>
                    <h4 class="topic-item-title">
                        家庭个护小能手，健康携手到白头
                    </h4>
                    <div class="topic-item-icons">
                        <i class="fa fa-bookmark"><span class="num">97</span></i>
                    </div>
                </div>

                <div class="topic-item clearfix">
                    <div class="topic-item-image-container">
                        <a href="#"><div class="topic-item-image" style="background-image: url('/public/static/images/topic1.jpg')"></div></a>
                    </div>
                    <h4 class="topic-item-title">
                        家庭个护小能手，健康携手到白头
                    </h4>
                    <div class="topic-item-icons">
                        <i class="fa fa-bookmark"><span class="num">97</span></i>
                    </div>
                </div>

                <div class="topic-item clearfix">
                    <div class="topic-item-image-container">
                        <a href="#"><div class="topic-item-image" style="background-image: url('/public/static/images/topic1.jpg')"></div></a>
                    </div>
                    <h4 class="topic-item-title">
                        家庭个护小能手，健康携手到白头
                    </h4>
                    <div class="topic-item-icons">
                        <i class="fa fa-bookmark"><span class="num">97</span></i>
                    </div>
                </div>

                <div class="topic-item clearfix">
                    <div class="topic-item-image-container">
                        <a href="#"><div class="topic-item-image" style="background-image: url('/public/static/images/topic1.jpg')"></div></a>
                    </div>
                    <h4 class="topic-item-title">
                        家庭个护小能手，健康携手到白头
                    </h4>
                    <div class="topic-item-icons">
                        <i class="fa fa-bookmark"><span class="num">97</span></i>
                    </div>
                </div>

            </div>
        </div>
    <script src="/public/static/js/vendors.js?0f21326ded55d23066ac"></script><script src="/public/static/js/user_topic_collection.js?0f21326ded55d23066ac"></script></body>
</html>
