<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>专题列表</title>
        <link rel="stylesheet" href="/public/static/font/font-awesome-4.5.0/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <link href="/public/static/css/vendors.css?cefcfebb6840ede7fe54" rel="stylesheet"><link href="/public/static/css/topic_list.css?cefcfebb6840ede7fe54" rel="stylesheet"></head>
    <body>
        <div class="navbar">

            <div class="nav">
                <ul>
                    <a href="#">
                        <li>首页<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>专题<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>发现<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>好吃<span class="cursor"></span></li>
                    </a>
                </ul>
                <a href="#"><button type="button" name="login" id="login-btn">登录</button></a>
                <a href="#"><button type="button" name="register" id="register-btn">注册</button></a>
                <input type="text" name="search" value="寻找好物……" id="search">
            </div>
        </div>
        <div class="topic-container">
            
            <div class="topic-container-main">
                <div class="topic-item">
                    
                    <a href="#"><div class="topic-item-img" style="background-image: url('/public/static/images/topic1.jpg')"></div></a>
                    <div class="topic-item-desc">
                        <a href="#"><h3 class="desc-title">「送男友」10款格调手机壳</h3></a>
                        <a href="#"><h4 class="desc-content">给男友买百元以上手机壳的姑娘，都是真~爱~啊！毕竟对于一买就是三五个，手机壳随着心情换的女生而言，廉价...</h4></a>
                    </div>
                    <div class="topic-item-info">
                        
                        <i class="fa fa-heart"><span class="num">153</span></i>
                        <i class="fa fa-comments"><span class="num">97</span></i>
                        <a href="#"><a href="#"><i class="fa fa-share-alt"></i></a></a>
                    </div>
                </div>
                <div class="topic-item">
                    
                    <a href="#"><div class="topic-item-img" style="background-image: url('/public/static/images/topic2.jpg')"></div></a>
                    <div class="topic-item-desc">
                        <a href="#"><h3 class="desc-title">家庭个护小能手，健康携手到白头</h3></a>
                        <a href="#"><h4 class="desc-content">怀揣着对生活细节更高的要求，个人护理小家电已经成为了提高生活品质的一部分。现在市面上众多个性突出、功...</h4></a>
                    </div>
                    <div class="topic-item-info">
                        <i class="fa fa-heart"><span class="num">153</span></i>
                        <i class="fa fa-comments"><span class="num">97</span></i>
                        <a href="#"><i class="fa fa-share-alt"></i></a>
                    </div>
                </div>
                <div class="topic-item">
                    
                    <a href="#"><div class="topic-item-img" style="background-image: url('/public/static/images/topic3.jpg')"></div></a>
                    <div class="topic-item-desc">
                        <a href="#"><h3 class="desc-title">Take Care Of Your Teeth</h3></a>
                        <a href="#"><h4 class="desc-content">No matter what your age,you need to take care of your teeth and mouth.When your mouth is...</h4></a>
                    </div>
                    <div class="topic-item-info">
                        <i class="fa fa-heart"><span class="num">153</span></i>
                        <i class="fa fa-comments"><span class="num">97</span></i>
                        <a href="#"><i class="fa fa-share-alt"></i></a>
                    </div>
                </div>
                <div class="topic-item">
                    
                    <a href="#"><div class="topic-item-img" style="background-image: url('/public/static/images/topic4.jpg')"></div></a>
                    <div class="topic-item-desc">
                        <a href="#"><h3 class="desc-title">Take Care Of Your Teeth</h3></a>
                        <a href="#"><h4 class="desc-content">No matter what your age,you need to take care of your teeth and mouth.When your mouth is...</h4></a>
                    </div>
                    <div class="topic-item-info">
                        <i class="fa fa-heart"><span class="num">153</span></i>
                        <i class="fa fa-comments"><span class="num">97</span></i>
                        <a href="#"><i class="fa fa-share-alt"></i></a>
                    </div>
                </div>
                <div class="topic-item">
                    
                    <a href="#"><div class="topic-item-img" style="background-image: url('/public/static/images/topic5.jpg')"></div></a>
                    <div class="topic-item-desc">
                        <a href="#"><h3 class="desc-title">Take Care Of Your Teeth</h3></a>
                        <a href="#"><h4 class="desc-content">No matter what your age,you need to take care of your teeth and mouth.When your mouth is...</h4></a>
                    </div>
                    <div class="topic-item-info">
                        <i class="fa fa-heart"><span class="num">153</span></i>
                        <i class="fa fa-comments"><span class="num">97</span></i>
                        <a href="#"><i class="fa fa-share-alt"></i></a>
                    </div>
                </div>
                <div class="topic-item">
                    
                    <a href="#"><div class="topic-item-img" style="background-image: url('/public/static/images/topic6.jpg')"></div></a>
                    <div class="topic-item-desc">
                        <a href="#"><h3 class="desc-title">Take Care Of Your Teeth</h3></a>
                        <a href="#"><h4 class="desc-content">No matter what your age,you need to take care of your teeth and mouth.When your mouth is...</h4></a>
                    </div>
                    <div class="topic-item-info">
                        <i class="fa fa-heart"><span class="num">153</span></i>
                        <i class="fa fa-comments"><span class="num">97</span></i>
                        <a href="#"><i class="fa fa-share-alt"></i></a>
                    </div>
                </div>
                <div class="topic-item">
                    
                    <a href="#"><div class="topic-item-img" style="background-image: url('/public/static/images/topic7.jpg')"></div></a>
                    <div class="topic-item-desc">
                        <a href="#"><h3 class="desc-title">Take Care Of Your Teeth</h3></a>
                        <a href="#"><h4 class="desc-content">No matter what your age,you need to take care of your teeth and mouth.When your mouth is...</h4></a>
                    </div>
                    <div class="topic-item-info">
                        <i class="fa fa-heart"><span class="num">153</span></i>
                        <i class="fa fa-comments"><span class="num">97</span></i>
                        <a href="#"><i class="fa fa-share-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    <script src="/public/static/js/vendors.js?cefcfebb6840ede7fe54"></script><script src="/public/static/js/topic_list.js?cefcfebb6840ede7fe54"></script></body>
</html>
