@baseFontColor: #333333;
@baseColor: rgb(122, 167, 242);
@baseDeepColor: rgb(88, 138, 218);
@baseFontFamily: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
.tab-container {

    .form-container {
        padding: 50px 25px 80px 25px;
        width: 1000px;
        margin: 0 auto;
        // background-color: #ebf2f2;

        .form {
            .form-item {
                margin-bottom: 25px;

                input, textarea {
                    vertical-align: middle;
                    outline: none;
                }

                .form-item-label {
                    display: inline-block;
                    font-size: 1.5rem;
                    color: @baseFontColor;
                    vertical-align: middle;
                    width: 60px;
                    margin-right: 25px;
                    text-align: right;
                }

                .form-radio-label {
                    font-size: 1.5rem;
                    color: @baseFontColor;
                    vertical-align: middle;
                }

                .selections, text-input {
                    width: 100px;
                    height: 28px;
                    border: 1px solid @baseColor;
                    border-radius: 3px;
                    font-family: @baseFontFamily;
                }

                .form-textarea {
                    border: 1px solid @baseColor;
                    border-radius: 3px;
                    padding: 10px;
                    font-family: @baseFontFamily;
                    resize: none;
                }

                .radio {
                    margin: 0;
                }

                .form-span {
                    font-size: 1.5rem;
                    color: @baseFontColor;
                    margin: 0 3px;
                }

                .form-item-btn {
                    text-align: center;
                    margin-top: 35px;

                    input, button {
                        border: none;
                        width: 80px;
                        height: 35px;
                        outline: none;
                        font-size: 1.5rem;
                        color: white;
                        font-family: @baseFontFamily;
                        cursor: pointer;
                    }

                    #submit {
                        background-color: @baseColor;

                        &:hover {
                            background-color: darken(@baseColor, 5%);;
                        }
                        &:active {
                            background-color: darken(@baseColor, 10%);;
                        }
                    }

                    #logout {
                        background-color: rgb(224, 74, 74);

                        &:hover {
                            background-color: darken(rgb(224, 74, 74), 5%);
                        }
                        &:active {
                            background-color: darken(rgb(224, 74, 74), 10%);
                        }
                    }
                }

                .img-preview {
                    display: table;
                    width: 250px;
                    height: 250px;
                    overflow: hidden;
                    margin: 10px 0;
                    text-align: center;
                    // border: 1px solid rgb(187, 186, 186);
                    border-radius: 3px;

                    .table-vertical {
                        display: table-cell;
                        vertical-align: middle;
                        border-radius: 3px;
                        // border: 1px solid rgb(187, 186, 186);


                        img {
                            max-height: 100%;
                            width: 100%;
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                }

                .form-item-file {

                }
            }
        }
    }
}
