<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>商品详情</title>
        <link rel="stylesheet" href="/public/static/font/font-awesome-4.5.0/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div class="navbar">

            <div class="nav">
                <ul>
                    <a href="#">
                        <li>首页<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>专题<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>发现<span class="cursor"></span></li>
                    </a>
                    <a href="#">
                        <li>好吃<span class="cursor"></span></li>
                    </a>
                </ul>
                <a href="#"><button type="button" name="login" id="login-btn">登录</button></a>
                <a href="#"><button type="button" name="register" id="register-btn">注册</button></a>
                <input type="text" name="search" value="寻找好物……" id="search">
            </div>
        </div>
        <!-- 标题√，描述√，封面图片√，喜欢√，不喜欢√，评论√，分类，链接√，标签√，创建用户√，添加时间√，相似food√ -->
        <div class="detail-container">
            <div class="main-container clearfix">
                <div class="food-left fl">
                    <div class="food-left-container">
                        <div class="food-img">
                            <img src="/public/static/images/food3.jpg" alt="商品图片" width="100%" height="100%" />
                            <div class="food-img-shadow">
                                <div class="shadow-icons">
                                    <div class="icon clicked">
                                        <a href="#">
                                            <i class="fa fa-cutlery">
                                                <span class="fa-margin">想吃</span>
                                            </i>
                                        </a>
                                    </div>

                                    <div class="icon">
                                        <a href="#">
                                            <i class="fa fa-hand-peace-o">
                                                <span class="fa-margin">吃过</span>
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="food-like-share">
                            <!-- 此处 liked 表示已点击过喜欢 -->
                            <!-- <div class="circle liked">
                                <i class="fa fa-heart"></i>
                            </div> -->
                            <div class="circle">
                                <i class="fa fa-thumbs-o-up"></i>
                            </div>
                            <div class="circle liked">
                                <i class="fa fa-thumbs-o-down"></i>
                            </div>
                            <div class="circle">
                                <i class="fa fa-share-alt"></i>
                            </div>
                        </div>
                    </div>

                    <div class="comments-container">
                        <div class="comments-wraaper clearfix">
                            <textarea name="comments" rows="3" class="comments-area"></textarea>
                            <button type="button" name="sendBtn" class="send-btn">发表评论</button>
                        </div>
                        <h2 class="comments-title">全部评论</h2>
                        <div class="comments-main">
                            <!-- 一条评论开始 -->
                            <div class="comments-item clearfix">
                                <div class="comments-user-img" style="background-image: url('/public/static/images/food2.jpg')"></div>
                                <div class="comments-user-name">
                                    <span class="name"><a href="#">滨滨和泓泓</a></span>
                                    <span class="comments-time">05-21</span>
                                </div>
                                <div class="comments-item-content">
                                    真心觉得志玲姐姐两季花样姐姐用自己的实际行动，树立了一个大写的偶像的行为标准！她博学，她不畏任何艰难险阻，她在南极冰海里畅游的画面，让我激动落泪，她真得配的起女神二字和全世界的喜爱！了不起！
                                </div>
                            </div>
                            <!-- 一条评论开始 -->
                            <div class="comments-item clearfix">
                                <div class="comments-user-img" style="background-image: url('/public/static/images/food2.jpg')"></div>
                                <div class="comments-user-name">
                                    <span class="name"><a href="#">滨滨和泓泓</a></span>
                                    <span class="comments-time">05-21</span>
                                </div>
                                <div class="comments-item-content">
                                    真心觉得志玲姐姐两季花样姐姐用自己的实际行动，树立了一个大写的偶像的行为标准！她博学，她不畏任何艰难险阻，她在南极冰海里畅游的画面，让我激动落泪，她真得配的起女神二字和全世界的喜爱！了不起！
                                </div>
                            </div>
                            <!-- 一条评论开始 -->
                            <div class="comments-item clearfix">
                                <div class="comments-user-img" style="background-image: url('/public/static/images/food2.jpg')"></div>
                                <div class="comments-user-name">
                                    <span class="name"><a href="#">滨滨和泓泓</a></span>
                                    <span class="comments-time">05-21</span>
                                </div>
                                <div class="comments-item-content">
                                    真心觉得志玲姐姐两季花样姐姐用自己的实际行动，树立了一个大写的偶像的行为标准！她博学，她不畏任何艰难险阻，她在南极冰海里畅游的画面，让我激动落泪，她真得配的起女神二字和全世界的喜爱！了不起！
                                </div>
                            </div>
                            <!-- 一条评论开始 -->
                            <div class="comments-item clearfix">
                                <div class="comments-user-img" style="background-image: url('/public/static/images/food2.jpg')"></div>
                                <div class="comments-user-name">
                                    <span class="name"><a href="#">滨滨和泓泓</a></span>
                                    <span class="comments-time">05-21</span>
                                </div>
                                <div class="comments-item-content">
                                    真心觉得志玲姐姐两季花样姐姐用自己的实际行动，树立了一个大写的偶像的行为标准！她博学，她不畏任何艰难险阻，她在南极冰海里畅游的画面，让我激动落泪，她真得配的起女神二字和全世界的喜爱！了不起！
                                </div>
                            </div>
                            <!-- 一条评论开始 -->
                            <div class="comments-item clearfix">
                                <div class="comments-user-img" style="background-image: url('/public/static/images/food2.jpg')"></div>
                                <div class="comments-user-name">
                                    <span class="name"><a href="#">滨滨和泓泓</a></span>
                                    <span class="comments-time">05-21</span>
                                </div>
                                <div class="comments-item-content">
                                    真心觉得志玲姐姐两季花样姐姐用自己的实际行动，树立了一个大写的偶像的行为标准！她博学，她不畏任何艰难险阻，她在南极冰海里畅游的画面，让我激动落泪，她真得配的起女神二字和全世界的喜爱！了不起！
                                </div>
                            </div>
                            <!-- 一条评论开始 -->
                            <div class="comments-item clearfix">
                                <div class="comments-user-img" style="background-image: url('/public/static/images/food2.jpg')"></div>
                                <div class="comments-user-name">
                                    <span class="name"><a href="#">滨滨和泓泓</a></span>
                                    <span class="comments-time">05-21</span>
                                </div>
                                <div class="comments-item-content">
                                    真心觉得志玲姐姐两季花样姐姐用自己的实际行动，树立了一个大写的偶像的行为标准！她博学，她不畏任何艰难险阻，她在南极冰海里畅游的画面，让我激动落泪，她真得配的起女神二字和全世界的喜爱！了不起！
                                </div>
                            </div>
                            <!-- 一条评论开始 -->
                            <div class="comments-item clearfix">
                                <div class="comments-user-img" style="background-image: url('/public/static/images/food2.jpg')"></div>
                                <div class="comments-user-name">
                                    <span class="name"><a href="#">滨滨和泓泓</a></span>
                                    <span class="comments-time">05-21</span>
                                </div>
                                <div class="comments-item-content">
                                    真心觉得志玲姐姐两季花样姐姐用自己的实际行动，树立了一个大写的偶像的行为标准！她博学，她不畏任何艰难险阻，她在南极冰海里畅游的画面，让我激动落泪，她真得配的起女神二字和全世界的喜爱！了不起！
                                </div>
                            </div>
                            <!-- 一条评论开始 -->
                            <div class="comments-item clearfix">
                                <div class="comments-user-img" style="background-image: url('/public/static/images/food2.jpg')"></div>
                                <div class="comments-user-name">
                                    <span class="name"><a href="#">滨滨和泓泓</a></span>
                                    <span class="comments-time">05-21</span>
                                </div>
                                <div class="comments-item-content">
                                    真心觉得志玲姐姐两季花样姐姐用自己的实际行动，树立了一个大写的偶像的行为标准！她博学，她不畏任何艰难险阻，她在南极冰海里畅游的画面，让我激动落泪，她真得配的起女神二字和全世界的喜爱！了不起！
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="food-right fl">
                    <h2 class="food-title">苏格格巴登巴登小蛋糕</h2>
                    <div class="food-sharer">
                        <div class="sharer-img" style="background-image: url('/public/static/images/food2.jpg')"></div>
                        <span class="sharer-name">滨滨和泓泓</span>
                        <span class="share-text">分享于</span>
                        <span class="share-time">2016-05-21</span>
                    </div>
                    <div class="food-item-title">
                        简介
                    </div>
                    <p class="desc">
                        原味相较于炭烧口味而言甜度会更高一点 同样的没有那么中的奶精味 茶包式可回冲 一带喝个两次没有太大问题 可能是喝香飘飘优乐美喝多了，总觉得这个不是那么的合口味 对！就是不够甜！???
                    </p>

                        <div class="food-buy">
                            <a href="#">
                                <i class="fa fa-link"></i>
                                来源链接
                            </a>
                        </div>

                    <div class="food-item-title">
                        标签
                    </div>
                    <div class="tags">
                        <a href="#"><div class="tag-item">裙子</div></a>
                        <a href="#"><div class="tag-item">装逼</div></a>
                        <a href="#"><div class="tag-item">傻逼</div></a>
                        <a href="#"><div class="tag-item">智障</div></a>
                        <a href="#"><div class="tag-item">测试</div></a>
                        <a href="#"><div class="tag-item">啦啦</div></a>
                        <a href="#"><div class="tag-item">啦啦</div></a>
                        <a href="#"><div class="tag-item">啦啦</div></a>
                        <a href="#"><div class="tag-item">啦啦</div></a>
                        <a href="#"><div class="tag-item">啦啦</div></a>
                    </div>

                    <div class="food-item-title">
                        相似物品
                    </div>
                    <div class="similar-container clearfix">
                        <div class="similar-item">
                            <a href="#"><img src="/public/static/images/food2.jpg" alt="" width="100%" height="185px"/></a>
                            <span class="similar-title">复古森女少女格子松紧腰半身裙</span>
                        </div>
                        <div class="similar-item">
                            <a href="#"><img src="/public/static/images/food2.jpg" alt="" width="100%" height="185px"/></a>
                            <span class="similar-title">香甜巧克力</span>
                        </div>
                        <div class="similar-item">
                            <a href="#"><img src="/public/static/images/food2.jpg" alt="" width="100%" height="185px"/></a>
                            <span class="similar-title">肥猪肉</span>
                        </div>
                        <div class="similar-item">
                            <a href="#"><img src="/public/static/images/food2.jpg" alt="" width="100%" height="185px"/></a>
                            <span class="similar-title">82年雪碧</span>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </body>
</html>
